body{
  font-family: sans-serif;
}
.row{
  margin: 2%;
}
.col-4{
  width: 30%;
  display: inline-flex;
}
.col-8{
  width: 70%;
  display: inline-flex;
  form{
    width: 100%;
  }
}
.textCenter{
  text-align: center;
}
.formGroup {
  margin: 1%;
}
.formLabel, .formInput {
  width: 100%;
}
.formInput{
  padding: .5em;
  font-size: .9em;
  background-color: #ebebeb;
  border: none;
  border-radius: 5px;
}
.formLabel{
  font-size: .8em;
  padding-left: 1%;
}
.boldText {
  font-weight: bold;
  font-size: 1em;
}
.formTitle{
  margin-left: 2%;
}
code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
.formButton{
  margin: 1%;
  padding: 1%;
  background-color: #f36d33;
  border-radius: 5px;
  font-size: .7em;
  font-weight: bold;
}
.holder{
  width: 100%;
  text-align: center;
}
